@font-face {
  font-family: "Aloha";
  src: url("./assets/fonts/Aloha/AlohaMagazine-Thin.otf");
  font-weight: 100;
}
@font-face {
  font-family: "Aloha";
  src: url("./assets/fonts/Aloha/AlohaMagazine-Extralight.otf");
  font-weight: 200;
}
@font-face {
  font-family: "Aloha";
  src: url("./assets/fonts/Aloha/AlohaMagazine-Light.otf");
  font-weight: 300;
}
@font-face {
  font-family: "Aloha";
  src: url("./assets/fonts/Aloha/AlohaMagazine-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Aloha";
  src: url("./assets/fonts/Aloha/AlohaMagazine-Medium.otf");
  font-weight: 500;
}
@font-face {
  font-family: "Aloha";
  src: url("./assets/fonts/Aloha/AlohaMagazine-Semibold.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Aloha";
  src: url("./assets/fonts/Aloha/AlohaMagazine-Bold.otf");
  font-weight: 700;
}
@font-face {
  font-family: "Aloha";
  src: url("./assets/fonts/Aloha/AlohaMagazine-Extrabold.otf");
  font-weight: 800;
}
@font-face {
  font-family: "Aloha";
  src: url("./assets/fonts/Aloha/AlohaMagazine-Black.otf");
  font-weight: 900;
}

/* LOCOMOTIVE SCROLL STYLES */

/*! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
/* html.has-scroll-smooth {
  overflow: hidden; }

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.has-scroll-smooth body {
  overflow: hidden; }

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh; }

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap; }

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%; }

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0; }
  .c-scrollbar:hover {
    transform: scaleX(1.45); }
  .c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
    opacity: 1; }
  [data-scroll-direction="horizontal"] .c-scrollbar {
    width: 100%;
    height: 10px;
    top: auto;
    bottom: 0;
    transform: scaleY(1); }
    [data-scroll-direction="horizontal"] .c-scrollbar:hover {
      transform: scaleY(1.3); }

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab; }
  .has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing; }
  [data-scroll-direction="horizontal"] .c-scrollbar_thumb {
    right: auto;
    bottom: 0; } */


/* ====================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  @apply mx-auto;
  /* @apply max-w-[1500px]; */
  max-width: 1440px !important;
}

html {
  scroll-behavior: smooth;
}

body::before {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/paper-pattern.png");
  animation: grain 8s steps(10) infinite;
  content: "";
  height: 300%;
  width: 300%;
  position: fixed;
  opacity: 0.4;
  z-index: -1;
  top: -100%;
  left: -50%;
}

.navbar .container {
  background-color: transparent;
  transition: all 0.3s ease;
  border-radius: 20px;
  border-bottom: 1px solid transparent;
}

.navbar--active {
  background-color: rgba(255, 255, 255, 0.7) !important;
  backdrop-filter: blur(20px);
  border-bottom: 10px solid #000;
}

.category {
  background-color: #ededed;
}

.category--active {
  @apply bg-accent;
}

.available-for-hire-icon {
  display: none;
  position: absolute;
  top: 100px;
  right: 100px;
  z-index: -1;
}

.available-for-hire-icon svg {
  animation-name: rotate;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* animation-duration: infinite; */
  width: 70%;
}

@media screen and (min-width: 768px) {
  .available-for-hire-icon {
    display: block;
    top: 75px;
    right: 0;
  }
  .available-for-hire-icon svg {
    width: 60%;
  }
}

@media screen and (min-width: 1280px) {
  .available-for-hire-icon {
    top: 80px;
    right: 50px;
  }
}

@media screen and (min-width: 1536px) {
  .available-for-hire-icon {
    top: 125px;
    right: 150px;
  }

  .available-for-hire-icon svg {
    width: 80%;
  }
}


.hero-text-line > div {
  /* border-bottom: 2px solid #e1e1e1; */
  width: 100%;
  display: flex !important;
  justify-content: space-between !important;
}

.btn {
  background-color: transparent;
  cursor: pointer;
  color: black;
  transition: background-color color 0.3s ease-in;
}

.btn:hover {
  background-color: black;
}

.btn:hover span {
  color: white;
}

.text-animate-wrapper {
  position: relative;
  text-transform: uppercase;
  overflow: hidden;
}

.text-animate-wrapper .line {
  position: absolute;
  transition: transform 0.3s ease-in;
}

.text-animate-wrapper .width-placeholder {
  opacity: 0;
  visibility: hidden;
}

.text-animate-wrapper .line--one {
  top: 0;
  left: 0;
  transform: translateY(0);
}

.text-animate-wrapper .line--two {
  transform: translateY(24px);
}

.btn:hover .line--one,
.text-animate-wrapper:hover .line--one {
  transform: translateY(-24px);
}

.btn:hover .line--two,
.text-animate-wrapper:hover .line--two {
  transform: translateY(0);
  text-decoration: underline;
}

.hero-icon {
  transform-origin: 50% 50%;
  animation-name: rotate;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border-radius: 50%;
}

.project:hover .project__img {
  transition: transform 0.3s ease-in-out;
  transform: scale(1.05)
}

/* .square {
  width: 100%;
  height: 100vh;
  background-color: #f9f9f9;
  transform-origin: 50% 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.overview {
  min-height: 100vh;
  background-color: #f9f9f9;
}

.overlay {
  position: absolute;
  inset: 0;
  content: "";
  transition: background-color 0.3s ease-in-out;
}

.overlay--visible {
  background-color: rgba(20, 22, 28, 0.4);
  backdrop-filter: blur(4px);
}

.overlay-visible {
  background-color: transparent;
}

.project__info {
  position: absolute;
  inset: 0;
  padding: 2rem;
}

.project__info--hidden {
  visibility: hidden;
}

.project__tag {
  background-color: rgba(13, 24, 34, 0);
  /* backdrop-filter: blur(4px); */
  border: 1px solid #ebebeb;
}

.repo-btn {
  color: black;
}

.repo-btn svg path {
  fill: black;
  fill-opacity: 0.8
}

.portfolio__projects .project:nth-child(1) {
  grid-column: unset;
}

.portfolio__projects .project {
  max-height: 300px;
}

.portfolio__projects .project__info h4 {
  @apply text-4xl;
}

.portfolio__projects .project__info h5 {
  @apply text-lg;
}
.portfolio__projects .project__info .project__tag,
.portfolio__projects .project__info .repo-btn {
  @apply text-[10px];
}

/* .overview {
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 50%;
  top: 50%;
  transform: scale(1) translate(-50%, -50%);
  background-color: #f9f9f9;
} */

@media screen and (max-width: 1320px) {
  .container {
    width: 90% !important;
  }
}

@media screen and (max-width: 1024px) {
  .hero-text-line > div {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
  }
}

@media screen and (max-width: 640px) {
  .container {
    width: 90% !important;
  }
  .hero-text-line {
    text-align: center !important;
  }
  .hero-text-line > div {
    align-items: center !important;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}
